/* Structure */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
html, body {
    height: 107vh;
}
a {
    text-decoration: none;
}
/* Header */
header {
    width: 100vw;
    height: 9%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.4rem 0 1.4rem;
}
.left, .right {
    display: flex;
    align-items: center;
}
.left {
    width: 60%;
    height: 100%;
    transform: scaleY(0.9);
    transform-origin: 0 0;
    font-size: 1.4rem;
    font-weight: 500;
    justify-content: space-between;
}
.left p {
    height: 80%;
    padding-bottom: 1%;
    display: flex;
    align-items: center;
}
.left_first {
    display: flex;
    justify-content: center;
    border-bottom: #4285F4 solid 0.2rem;
    width: 30%;
}
.left_first a {
    color: #4285F4;
}
.lefft_second a {
    color: #70757A;
}
.right {
    width: 26%;
    display: flex;
    justify-content: space-between;
}
.right img {
    border-radius: 2rem;
}
/* Main */
main {
    margin: 5% 0 0 0;
    width: 100vw;
    height: 64%;
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo_img1 a {
    padding: 3%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.logo_img1 img {
    height: 90%;
    width: 100%;
}
.logo_img2{
    position: absolute;
    margin: 11.6vh 0 0 70vw ;
}
.input {
    margin: 3% 0;
    width: 95vw;
    border: solid rgb(233, 232, 232) 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-self: center;
}
form, input {
    width: 100%;
    border: 0;
}
.input_search, .input_voice {
    margin: 0.5rem;
}
.input a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.languages {
    margin: 1.6rem 2rem 0 2rem;
    /* padding: 3% 0 ; */
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.languages_types {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
/* Footer */
footer {
    width: 100vw;
    height: 22%;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 243, 243);
}
footer p {
    height: 35%;
    padding-left: 1.3rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    color: #0000008A;
    border-bottom: rgb(218, 217, 217) solid 0.01rem;
}
footer section {
    height: 80%;
}
.footer_first, .footer_second {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_second {
    align-items: flex-start;
}
.footer_first a, .footer_second a {
    margin: 1.3rem 1.2rem .3rem 1rem;
    color: gray;
    transform: scaleY(0.95);
    font-size: 1.4rem;
}
.footer_second a {
    margin-top: 0.5rem;
}