html, body {
    height: 99.869vh;
}
/* Header */
header {
    justify-content: flex-end;
    margin-top: 5.5px;
    padding-right: 1.2rem;
}
.header-left {
    margin-right: 1rem;
}
.header-right {
    flex-grow: 0;
    width: 80px;
}
.header--left {
    width: 130px;
    justify-content: space-around;
    margin: 2px 10px 0 0;
    font-weight: 400;
}
.header--right {
    width: 73px;
    margin-right: 18px;
}
.left_first, .left_second, .header-menu {
    text-indent:-666em;
    overflow:hidden;
    border-bottom: none;
    position: absolute;
    margin: -666em;
}
.left_first--1024, .left_second--1024 {
    text-indent: 0em;
    width: 60px;
    transform: scaleY(1);
} 
.left_first--1024 a, .left_second--1024 a{
    margin-bottom: 2px;
}
.left_second--1024 {
    margin-right: 5px;
}
/* Main */
.logo_img1 a {
    padding: 14px 0 0 11px;
    margin-right: 1.2rem;
}
.logo_img2 {
    margin: 19.2vh 0 0 31.85vw;
}
.input {
    height: 4.6rem;
    border-radius: 2.5rem;
    margin-top: 2.7rem;
}
.input_search {
    margin-left: 1.3rem;
}
.input_voice {
    margin-right: 1.3rem;
}
.input_search--child2, .input_voice--child2 {
    text-indent:-666em;
    overflow:hidden;
    border-bottom: none;
    position: absolute;
    margin: -666em;
}
.input_search--1024, .input_voice--1024 {
    width: 2rem;
}
.buttons {
    width: 58.4rem;
    height: 7rem;
    padding-top: 1.8rem;
    display: flex;
    justify-content: center;
    align-self: center;
}
.buttons_child1, .buttons_child2 {
    background-color: #f8f9fa;
    border: .1rem solid #f8f9fa;
    border-radius: .4rem;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 1.4rem;
    margin: 1.1rem .4rem;
    padding: 0 1.6rem;
    line-height: 2.7rem;
    height: 3.6rem;
    min-width: 5.4rem;
    text-align: center;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}
.languages {
    padding: 1rem;
}
.languages_firstline {
    /* font-weight: 350; */
    color: #000000;
}
.languages_types {
    width: 12rem;
}
/* Footer */
footer {
    height: 8.1rem;
    align-self: flex-end;
    justify-content: center;
}
footer  p {
    height: 50%;
    font-size: 1.51rem;
    padding: 0;
    margin-left: 2.7rem;
}
footer section {
    height: 50%;
    margin-left: 2.7rem;
    display: flex;
    justify-content: space-between;
}
.footer_first a, .footer_second a {
    font-size: 1.45rem;
    margin: 0;
    margin-right: 2.5rem;
}
.footer_first {
    order: 1;
}
.footer_second--child1 {
    order: 1;
}
.footer_first, .footer_second {
    height: 100%;
    align-items: center;
}