.logo_img2 {
    margin: 17vh 0 0 80vw ;
}
.header--right {
    width: 77px;
    margin: 14px 12px 8px 15px;
}
footer {
    height: 25vh;
}
.footer_second a {
    margin-top: 0.85rem;
}
main {
    margin-bottom: 3vh;
}
.languages {
    margin-top: 2rem;
}