/* Structure */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
html, body {
    height: 107vh;
}
a {
    text-decoration: none;
}
/* Header */
header {
    width: 100%;
    height: 48px;
    display: flex;
    flex-direction: row;
}
.header-left {
    display: flex;
    justify-content: flex-start;
}
.header-right {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    flex-grow: 1;
}
.header-menu {
    width: 24px;
    height: 24px;
    margin: 12px 16px;
}
.header--right {
    display: flex;
    align-items: center;
    width: 76px;
    margin: 14px 12px 8px 15px;
    justify-content: space-between;
}
.header--left {
    display: flex;
    justify-content: space-between;
    width: 154.47px;
    height: 48px;
    font-size: 1.35rem;
    font-weight: 500;
}
.header--left p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.left_first {
    width: 60px;
    border-bottom: 0.2rem solid #4285F4;
}
.left_first a, .left_second a {
    font-size: 1.33rem;
    transform: scaleY(0.8);
}
.left_second {
    margin-right: 1.4rem;
    padding-bottom: 0.2rem;
}
.left_first1024, .left_second1024 {
    text-indent:-666em;
    overflow:hidden;
} 
.header-right img {
    border-radius: 2rem;
}
/* Main */
main {
    margin-bottom: 5vh;
    width: 100%;
    height: 64vh;
    display: flex;
    flex-direction: column;
}
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.logo_img1 a {
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.logo_img1 img {
    height: 90%;
    width: 100%;
}
.logo_img2{
    position: absolute;
    margin: 11vh 0 0 73vw ;
}
.input {
    margin-top: 1rem;
    width: 95vw;
    max-width: 584px;
    border: solid rgb(233, 232, 232) 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    align-self: center;
}
form, input {
    width: 100%;
    height: 37px;
    border: 0;
}
.input_search, .input_voice {
    margin: 0.5rem;
}
.input a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.languages {
    width: 280px;
    margin: 1.6rem 2rem 0 2rem;
    padding: 1rem 0;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}
.languages_types {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
/* Footer */
footer {
    width: 100%;
    height: 23vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(247, 243, 243);
}
footer p {
    height: 35%;
    padding-left: 1.3rem;
    font-size: 1.6rem;
    transform: scaleY(0.92);
    display: flex;
    align-items: center;
    color: #0000008A;
    border-bottom: rgb(218, 217, 217) solid 0.01rem;
}
footer section {
    height: 80%;
}
.footer_first, .footer_second {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_second {
    align-items: flex-start;
}
.footer_first a, .footer_second a {
    margin: 1.3rem 1.2rem .3rem 1rem;
    color: gray;
    transform: scaleY(0.95);
    font-size: 1.4rem;
}
.footer_second a {
    margin-top: 0.9rem;
}